    :root {
        --main-color: #FFC107;
        --main-dark: #333;
        --main-light: #fff;
        --main-deep-dark: #000;
        --h-font: 'Electrolize', sans-serif;
        --p-font: 'Dosis', sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--p-font);
        width: 100%;
        height: 100%;
        background: #F8F9FA;
    }
        html{
           height: 100%;
            width: 100%;
        }
    
        .brand{
        font-size: 2.5rem;
        font-family: var(--h-font);
        margin-left: 8%;
        }

        .brand i {
            font-size: 2.5rem !important;
        }

    .fa-play {
        color: grey;
        font-size: 6rem;
        cursor: pointer;
    }
    .bg-white {
        background: #eee;
        border-radius: 50% 50% 50% 50%;
        width: 7em;
        margin: 2rem auto;
        padding: 1.5rem;
    }
            .fa-play:hover {
                color: var(--main-deep-dark) !important;
            }
    .bg-white:hover > .fa-play {
        color: var(--main-deep-dark) !important;
        cursor: pointer;
    }
    
        .dropdown-menu {
            border-radius: 0;
            margin-top: -.25rem;
            background: var(--main-dark) !important
        }

        .navbar-default .navbar-nav > li.dropdown:hover > a,
        .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
        .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
            background-color: rgb(231, 231, 231);
            color: rgb(85, 85, 85);
        }

    .navbar-warning i {
        font-size: 2rem;
    }
    button {
        background: var(--main-dark);
        width: 10rem;
        padding:1rem;
        border-radius: 1rem;
       text-decoration: none;
        color: var(--main-color);
        border: none;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;

    }


    .navbar-search {
        background: var(--main-color) !important;
    }

    .search{
        margin: 0 1rem;
        background: var(--main-dark);
        color: var(--main-color);
        padding: .5rem;
    }


    .navbar-warning {
        background:var(--main-deep-dark) !important;
        padding: 1rem;
        font-size: 2rem;
       
    }
 
    .navbar a{
        text-decoration: none;
        color: var(--main-color);
        font-family: var(--p-font);
    }

    ul.dropdown:hover > .dropdown-menu {
        display: block;
    }

    li.dropdown:hover > .dropdown-menu {
        display: block;
    }

.carousel-item{
    transition: 1s;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(231, 231, 231);
} 





.a{
    text-decoration: none;
}

.a:hover{
    text-decoration: none;

}

.inner {
margin: auto;
margin-top: 3.5rem;
padding: 10rem;
text-align: center;


}


    .inner h1 {
        text-transform: uppercase;
        font-weight: bolder;
        color: var(--main-light);
    }
#first-slide, #second-slide, #third-slide {
    background: url('../img/welcome.jpg');
    background-size: cover;
    height: 85vh;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 100px;
    height: 100px;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.services-overlay {
    background: rgba(0,0,0,0.7);
    height: 15rem;
}

    .services a {
       text-align: left;
        height: 15rem;
        text-decoration: none;
    }

.services a:hover>.services-overlay {
    display: none;
}


    .services h4 {
        background: var(--main-dark);
        width: 10rem;
        padding: .5rem;
        border-radius: 0rem 1rem 1rem 0rem;
        text-align: left;
        text-decoration: none;
        color: var(--main-color);
        padding-top: 1rem;
    }



.service1{
    background: url('../img/explore-section2.jpg') no-repeat center center;
    background-size: cover;


}
.service2 {
    background: url('../img/services-5.jpg') no-repeat center center;
    background-size: cover;
}

.service3 {
    background: url('../img/services-4.jpg') no-repeat center center;
    background-size: cover;
}
.service4 {
    background: url('../img/services-3.jpg') no-repeat center center;
    background-size: cover;
}

.projects-header {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

/*  NEWS  SECTION */
.news {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    
}

.news a:hover{
    text-decoration: none;
}
    .news a {
        text-decoration: none;
        text-align: center;
        padding: 3.5rem;
        /*	box-shadow: var(--shadow); */
    }
.news1 {
    background: url('../img/services-7.jpg') no-repeat center center;
    background-size: cover;
}

.news2 {
    background: url('../img/services-2.jpg') no-repeat center center;
    background-size: cover;
}

.news3 {
    background: url('../img/news-2.jpg') no-repeat center center;
    background-size: cover;
}
.news h4 {
    border: none;
    background: var(--main-dark);
    color: var(--main-color);
    padding: 0rem 1rem;
}
.news-header h1 {
   margin: 4rem;
    padding: 1rem;
    text-align: center;
}

footer{
    padding: 1rem;
    text-align: center;
    background: var(--main-deep-dark);
    color:var(--main-color);
    margin-top: 2rem;
}

/*MEDIA QUERY*/
@media (max-width:768px) {
    span.brand{
        font-size: 2rem;
    }

    button.navbar-toggler{
        padding: 0;
        margin: 0;
        width: 32px;
        margin-right: 3%;
    }


    .inner {
    margin-top: 12rem;
        padding: 1rem;
        text-align: center;
    }
    .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

        .services a {
            height: 5rem;
        }

    .services-overlay {
        background: rgba(0,0,0,0.3);
        height: 5rem;
    }

    .news {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    #show-large{
        display: none;

    }
    .navbar-search{
        display: none;
    }
}
@media (max-width: 500px){
    .inner {
        margin-top: 11rem;
    }

    .fa-play {
        font-size: 3rem;
    }

    .bg-white {
        width: 4em;
        padding: 0.5rem;
    }
}
@media (min-width: 769px){
    #show-small{
        display: none;
    }
}